<section class="view-content vew-details">
    <h2>{{title}}</h2>
    {{#if error}}
        <span class="error">{{error}}</span>
    {{/if}}
    <h3>Vos références</h3>
    <ul>

        <li>N° de {{#if model.iscredit}}crédit{{else}}facture{{/if}} : {{model.number}}</li>
        <li>Date de {{#if model.iscredit}}crédit{{else}}facture{{/if}} : {{moment-format model.date 'DD/MM/YYYY'}}</li>
    </ul>

    <h3>Références Client</h3>
    <ul>
        <li>Client : {{model.client.name}}</li>
    </ul>

    <h3>Objet</h3>
    <ul>
        <li>Nom du projet : {{model.project.name}}</li>
        <li>Date de début : {{moment-format model.project.begin 'DD/MM/YYYY'}}</li>
        <li>Date de fin : {{moment-format model.project.end 'DD/MM/YYYY'}}</li>
    </ul>

    <h3>Détails</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Qté</th>
            <th>Type</th>
            <th>Prix</th>
            <th>TVA</th>
            <th>Montant HTVA</th>
        </tr>
        {{#each model.details.articles as |article|}}
            <tr>
                <td>{{article.name}}</td>
                <td>{{article.description}}</td>
                <td>{{article.quantity}}</td>
                <td>{{article.pricetype}}</td>
                <td>{{article.price}} {{devise}}</td>
                <td>{{article.vat}}%</td>
                {{!--use custom helper to format number with 2 decimals--}}
                <td>{{format-float article.amount}} {{devise}}</td>
            </tr>
        {{/each}}
        <tr class="tots">
            <td colspan="6">
                Total hors taxes
            </td>
            <td>
                {{format-float model.details.totxvat}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
                Ristourne
            </td>
            <td>
                {{format-float model.details.refund}} {{model.details.refundtype}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
                Sous-Total hors taxes
            </td>
            <td>
                {{format-float model.details.utotxvat}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
                TVA
            </td>
            <td>
                {{format-float model.details.vat}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
               Total TTC
            </td>
            <td>
                {{format-float model.details.utotal}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
               Acompte
            </td>
            <td> 
                {{format-float model.details.advance}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
               A payer
            </td>
            <td>
                {{format-float model.details.total}} {{devise}}
            </td>
        </tr>
        {{#if model.iscredit}}
            <tr class="tots">
                <td colspan="6">
                Crédit
                </td>
                <td>
                    - {{format-float model.details.credit}} {{devise}}
                </td>
            </tr>
            <tr class="tots">
                <td colspan="6">
                Total après crédit
                </td>
                <td>
                    {{format-float model.details.totcredit}} {{devise}}
                </td>
            </tr>
        {{/if}}
    </table>

    {{#if model.iscredit}}
    {{else}}
        <h3>Echéance</h3>
        <p>
            {{model.deadline}}
        </p>

        <h3>Mode de paiement principal</h3>
        <ul>
            <li>Nom : {{model.primaccount.name}}</li>
            {{#if model.primaccount.iban}}<li>IBAN : {{model.primaccount.iban}}</li>{{/if}}
            {{#if model.primaccount.bic}}<li>BIC : {{model.primaccount.bic}}</li>{{/if}}
            {{#if model.primaccount.mail}}<li>Mail : {{model.primaccount.mail}}</li>{{/if}}
        </ul>

        <h3>Mode de paiement secondaire</h3>
        {{#if model.secaccount}}
        <ul>
            <li>Nom : {{model.secaccount.name}}</li>
            {{#if model.secaccount.iban}}<li>IBAN : {{model.secaccount.iban}}</li>{{/if}}
            {{#if model.secaccount.bic}}<li>BIC : {{model.secaccount.bic}}</li>{{/if}}
            {{#if model.secaccount.mail}}<li>Mail : {{model.secaccount.mail}}</li>{{/if}}
        </ul>
        {{else}}
        <p>
            Aucun
        </p>
        {{/if}}
    {{/if}}

    <h3>Notes</h3>
    <p>
        {{model.note}}
    </p>

    <div class="actions">
        {{#if model.iseditable}}
            <button {{action 'removeBill' model}}>Supprimer</button>
            {{#if model.iscredit}}
                {{#link-to 'bills.credit' model.id tagName="button"}}Editer{{/link-to}}
            {{else}}
                {{#link-to 'bills.edit' model.id tagName="button"}}Editer{{/link-to}}
            {{/if}}
            <button {{action "printBill" model}}>Imprimer</button>
        {{else}}
            {{#if model.iscredited}}
            {{else}}
                {{#link-to 'bills.credit' model.id tagName="button"}}Créditer{{/link-to}}
            {{/if}}
            <a href="{{model.link}}" target="_blank">Voir le PDF</a>
        {{/if}}
    </div>
</section>