<section class="view-content bill-details">
    <h2>Détails de la facture :</h2>

    <h3>Vos références</h3>
    <ul>
        <li>N° de facture : {{model.number}}</li>
        <li>Date de facture : {{moment-format model.date 'DD/MM/YYYY'}}</li>
    </ul>

    <h3>Références Client</h3>
    <ul>
        <li>Client : {{model.client.name}}</li>
    </ul>

    <h3>Objet</h3>
    <ul>
        <li>Nom du projet : {{model.project.name}}</li>
        <li>Date de début : {{moment-format model.project.begin 'DD/MM/YYYY'}}</li>
        <li>Date de fin : {{moment-format model.project.end 'DD/MM/YYYY'}}</li>
    </ul>

    <h3>Détail</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Qté</th>
            <th>Type</th>
            <th>Prix</th>
            <th>TVA</th>
            <th>Montant HTVA</th>
        </tr>
        {{#each model.details.articles as |article|}}
            <tr>
                <td>{{article.name}}</td>
                <td>{{article.description}}</td>
                <td>{{article.quantity}}</td>
                <td>{{article.pricetype}}</td>
                <td>{{article.price}} {{devise}}</td>
                <td>{{article.vat}}%</td>
                {{!--use custom helper to format number with 2 decimals--}}
                <td>{{format-float article.amount}} {{devise}}</td>
            </tr>
        {{/each}}
        <tr class="tots">
            <td colspan="6">
                Total hors taxes :
            </td>
            <td>
                {{format-float model.details.totxvat}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
                Ristourne :
            </td>
            <td>
                {{format-float model.details.refund}} {{model.details.refundtype}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
                Sous-Total hors taxes :
            </td>
            <td>
                {{format-float model.details.utotxvat}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
                TVA :
            </td>
            <td>
                {{format-float model.details.vat}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
               Total TTC :
            </td>
            <td>
                {{format-float model.details.utotal}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
               Acompte :
            </td>
            <td> 
                {{format-float model.details.advance}} {{devise}}
            </td>
        </tr>
        <tr class="tots">
            <td colspan="6">
               A payer :
            </td>
            <td>
                {{format-float model.details.total}} {{devise}}
            </td>
        </tr>
    </table>

    <h3>Informations et règles de paiement</h3>
    <ul>
        <li>Echéance : {{model.deadline}}</li>
        <li>Mode de paiement principal : {{model.primaccount}}</li>
        <li>Mode de paiement secondaire : {{model.secaccount}}</li>
        <li>Notes : <br>
            {{model.note}}
        </li>
    </ul>
    <div class="actions">
        <button>Imprimer</button>
    </div>
</section>