<section class="view-content">
    <h2>{{title}}</h2>
    <form {{action 'saveBill' bill on="submit"}}>
        {{#if error}}
            <span class="error">Merci de compléter tous les champs</span>
        {{/if}}
        <fieldset class="references">
            <legend>Vos références</legend>
            <div>
                <label for="number">N° de facture
                    {{input type="text" id="number" value=bill.number disabled=true}}
                </label>
                <label for="date">Date de facture *
                    {{input type="date" id="date" value=bill.date focus-out='changeNumber' key-up='changeNumber' placeholder="jj-mm-aaaa"}}
                </label>
            </div>
        </fieldset>

        <fieldset class="references-cl">
            <legend>Références Client</legend>
            <label for="client">Client *</label><br>
            {{#x-select id="client" value=bill.client}}
                {{#each clients as |client|}}
                    {{#x-option value=client.id}}{{client.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </fieldset>

        <fieldset class="object">
            <legend>Objet</legend>
            <div>
                <label for="project-name">Nom du projet *
                    {{input type="text" id="project-name" value=bill.project.name}}
                </label>
            </div>
            <div>
                <label for="project-begin">Date de début *
                    {{input type="date" id="project-begin" value=bill.project.begin placeholder="jj-mm-aaaa"}}
                </label>
                <label for="project-end">Date de fin *
                    {{input type="date" id="project-end" value=bill.project.end placeholder="jj-mm-aaaa"}}
                </label>
            </div>
        </fieldset>

        <fieldset class="detail">
            <legend>Détail</legend>
            <div class="articles">
                <div>
                    <label for="article-name" class="article-name">Article</label>
                    <label for="article-description" class="article-description">Description</label>
                    <label for="article-quantity" class="article-quantity">Qté</label>
                    <label for="article-pricetype" class="article-pricetype">Type</label>
                    <label for="article-price" class="article-price">
                        {{#if isPriceDisable}}
                            P/U
                        {{else}}
                            Prix
                        {{/if}}
                    </label>
                    <label for="article-amount" class="article-amount">Montant HTVA</label>
                    <label for="article-vat" class="article-vat">TVA</label>
                    <span>Action</span>
                </div>
                <div class="articles-list">
                    {{#x-select id="article-name" class="article-name" value=newArticle action='setArticle'}}
                        {{#each company.articles as |article|}}
                            {{#x-option value=article}}{{article.name}}{{/x-option}}
                        {{/each}}
                    {{/x-select}}
                    {{input type="text" id="article-description" class="article-description" value=newArticle.description disabled=true}}
                    {{input type="number" id="article-quantity" class="article-quantity" value=newArticle.quantity key-up='calcNewAmount' disabled=isQtyDisable}}
                    {{input type="text" id="article-pricetype" class="article-pricetype" value=newArticle.pricetype disabled=true}}
                    {{input type="number" id="article-price" class="article-price" value=newArticle.price key-up='calcNewAmount' disabled=isPriceDisable}}
                    {{input type="number" id="article-amount" class="article-amount" value=newArticle.amount disabled=true}}
                    {{input type="text" id="article-vat" class="article-vat" value=newArticle.vat disabled=true}}
                    <button {{action 'addArticle' newArticle}}>Ajouter</button>
                </div>
                <h3>Créer un article : <button {{action 'showForm'}}>{{#if isShowForm}} - {{else}} + {{/if}}</button></h3>
                {{#if errorNewArticle}}
                    <span class="error">Merci de compléter tous les champs</span>
                {{/if}}
                <div class="articles-list">
                    {{#if isShowForm}}
                        {{input type="text" class="article-name" value=writedArticle.name}}
                        {{input type="text" class="article-description" value=writedArticle.description}}
                        {{input type="number" class="article-quantity" value=writedArticle.quantity key-up='calcWritedAmount' disabled=isWritedQtyDisable}}
                        {{#x-select class="article-pricetype" value=writedArticle.pricetype action='typeSet'}}
                            {{#each params.types as |pricetype|}}
                                {{#x-option value=pricetype}}{{pricetype}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                        {{input type="number" class="article-price" value=writedArticle.price key-up='calcWritedAmount' disabled=isWritedPriceDisabled}}
                        {{input type="number" class="article-amount" value=writedArticle.amount disabled=true}}
                        {{#x-select class="article-vat" value=writedArticle.vat}}
                            {{#each params.vatrate as |vat|}}
                                {{#x-option value=vat}}{{vat}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                        <button {{action 'createArticle' writedArticle}}>Créer</button>
                    {{/if}}
                </div>
                {{#if listArticles}}
                    <h3>Articles ajoutés :</h3>
                {{/if}}
                {{#each listArticles as |savedArticle|}}
                <div>
                    {{input type="text" class="article-name" value=savedArticle.name disabled=true}}
                    {{input type="text" class="article-description" value=savedArticle.description disabled=true}}
                    {{input type="text" class="article-quantity" value=savedArticle.quantity disabled=true}}
                    {{input type="text" class="article-pricetype" value=savedArticle.pricetype disabled=true}}
                    {{input type="text" class="article-price" value=savedArticle.price disabled=true}}
                    {{input type="text" class="article-amount" value=savedArticle.amount disabled=true}}
                    {{input type="text" class="article-vat" value=savedArticle.vat disabled=true}}
                    <button {{action 'deleteArticle' savedArticle}}> - </button>
                </div>
                {{/each}}
                
            </div>
            <div class="tots">
                <div>
                    <label for="tots-totxvat">Total hors taxes
                        {{input type="text" id="tots-totxvat" value=bill.details.totxvat disabled=true}}
                    </label>

                    <label for="tots-refund" class="tots-refund">Ristourne
                        {{input type="text" id="tots-refund" value=bill.details.refund key-up='changeValues'}}
                        {{#x-select id="tots-refundtype" value=bill.details.refundtype action='changeValues'}}
                            {{#each params.refunds as |refund|}}
                                {{#x-option value=refund}}{{refund}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                    </label>
                    
                    <label for="tots-utotxvat">Sous-Total hors taxes
                        {{input type="text" id="tots-utotxvat" value=bill.details.utotxvat disabled=true}}
                    </label>
                    
                    <label for="tots-vat">TVA
                        {{input type="text" id="tots-vat" value=bill.details.vat disabled=true}}
                    </label>
                    <label for="tots-utotal" class="tots-utotal">Total TTC
                        {{input type="text" id="tots-utotal" value=bill.details.utotal disabled=true}}
                    </label>
                    <label for="tots-advance">Acompte
                        {{input type="text" id="tots-advance" value=bill.details.advance key-up='changeValues'}}
                    </label>
                    <label for="tots-total" class="tots-total">A payer
                        {{input type="text" id="tots-total" value=bill.details.total disabled=true}}
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="infos">
            <legend>Informations et règles de paiement</legend>
            <div>
                <label for="deadline">Echéance *</label><br>
                {{#x-select id="deadline" value=bill.deadline}}
                    {{#each params.rules as |rule|}}
                        {{#x-option value=rule}}{{rule}}{{/x-option}}
                    {{/each}}
                {{/x-select}}
                
                <label for="primaccount">Mode de paiement principal *</label><br>
                {{#x-select id="primaccount" value=bill.primaccount}}
                    {{#each company.paymentinfo.bank as |bank|}}
                        {{#x-option value=bank}}{{bank.name}} - IBAN: {{bank.iban}}{{/x-option}}
                    {{/each}}
                    {{#each company.paymentinfo.paypal as |paypal|}}
                        {{#x-option value=paypal}}{{paypal.name}} - MAIL: {{paypal.mail}}{{/x-option}}
                    {{/each}}
                {{/x-select}}
                    
                <label for="secaccount">Mode de paiement secondaire</label><br>
                {{#x-select id="secaccount" value=bill.secaccount}}
                    {{#if bill.secaccount}}
                    {{else}}
                    {{#x-option value=""}}Aucun{{/x-option}}
                    {{/if}}
                    {{#each company.paymentinfo.bank as |bank|}}
                        {{#x-option value=bank}}{{bank.name}} - IBAN: {{bank.iban}}{{/x-option}}
                    {{/each}}
                    {{#each company.paymentinfo.paypal as |paypal|}}
                        {{#x-option value=paypal}}{{paypal.name}} - MAIL: {{paypal.mail}}{{/x-option}}
                    {{/each}}
                {{/x-select}}

                <label for="note">Notes</label><br>
                {{textarea id="note" value=bill.note cols="100" rows="6"}}
            </div>
        </fieldset>
        
        {{input type="submit" value=buttonLabel}}
        
    </form>
</section>