<section class="view-content">
    <h2>Nouvelle Facture</h2>
    <form {{action 'saveBill' newBill on="submit"}}>
        <fieldset class="references">
            <legend>Vos références</legend>
            <ul>
                <li>
                    <label for="number">N° de facture</label><br>
                    {{input type="text" id="number" value=newBill.number}}
                </li>
                <li>
                    <label for="date">Date de facture</label><br>
                    {{input type="date" id="date" value=newBill.date}}
                </li>
            </ul>
        </fieldset>

        <fieldset class="references-cl">
            <legend>Références Client</legend>
            <ul>
                <li>
                    <label for="client">Client</label><br>
                    {{#x-select id="client" value=newBill.client}}
                        {{#each clients as |client|}}
                            {{#x-option value=client.id}}{{client.name}}{{/x-option}}
                        {{/each}}
                    {{/x-select}}
                </li>
            </ul>
        </fieldset>

        <fieldset class="object">
            <legend>Objet</legend>
            <ul>
                <li>
                    <label for="project-name">Nom du projet</label><br>
                    {{input type="text" id="project-name" value=newBill.project.name}}
                </li>
                <li>
                    <label for="project-begin">Date de début</label><br>
                    {{input type="text" id="project-begin" value=newBill.project.begin}}
                </li>
                <li>
                    <label for="project-end">Date de fin</label><br>
                    {{input type="text" id="project-end" value=newBill.project.end}}
                </li>
            </ul>
        </fieldset>

        <fieldset class="detail">
            <legend>Détail</legend>
            <div class="articles">
                <ul>
                    <li class="article-name">
                        <label for="article-name">Article</label><br>
                        {{input type="text" id="article-name" value=newBill.details.articles.name}}
                    </li>
                    
                    <li class="article-description">
                        <label for="article-description">Description</label><br>
                        {{input type="text" id="article-description" value=newBill.details.articles.description}}
                    </li>

                    <li class="article-type">
                        <label for="article-type">Type</label><br>
                        {{input type="text" id="article-type" value=newBill.details.articles.type}}
                    </li>

                    <li class="article-quantity">
                        <label for="article-quantity">Qté</label><br>
                        {{input type="text" id="article-quantity" value=newBill.details.articles.quantity}}
                    </li>

                    <li class="article-price">
                        <label for="article-price">P/U</label><br>
                        {{input type="text" id="article-price" value=newBill.details.articles.price}}
                    </li>

                    <li class="article-amount">
                        <label for="article-amount">Montant</label><br>
                        {{input type="text" id="article-amount" value=newBill.details.articles.amount}}
                    </li>

                    <li class="article-vat">
                        <label for="article-vat">TVA</label><br>
                        {{input type="text" id="article-vat" value=newBill.details.articles.vat}}
                    </li>
                </ul>
            </div>
            <div class="tots">
                <ul>
                    <li>
                        <label for="tots-totxvat">Total hors taxes</label>
                        {{input type="text" id="tots-totxvat" value=newBill.details.totxvat}}
                    </li>
                    <li class="tots-refund">
                        <label for="tots-refund">Ristourne</label>
                        {{input type="text" id="tots-refund" value=newBill.details.refund}}
                        {{input type="text" id="tots-refundtype" value=newBill.details.refundtype}}
                    </li>
                    <li>
                        <label for="tots-utotxvat">Sous-Total hors taxes</label>
                        {{input type="text" id="tots-utotxvat" value=newBill.details.utotxvat}}
                    </li>
                    <li>
                        <label for="tots-vat">TVA</label>
                        {{input type="text" id="tots-vat" value=newBill.details.vat}}
                    </li>
                    <li class="tots-utotal">
                        <label for="tots-utotal">Total TTC</label>
                        {{input type="text" id="tots-utotal" value=newBill.details.utotal}}
                    </li>
                    <li>
                        <label for="tots-advance">Accompte</label>
                        {{input type="text" id="tots-advance" value=newBill.details.advance}}
                    </li>
                    <li class="tots-total">
                        <label for="tots-total">A payer</label>
                        {{input type="text" id="tots-total" value=newBill.details.total}}
                    </li>
                </ul>
            </div>
        </fieldset>

        <fieldset class="infos">
            <legend>Informations et règles de paiement</legend>
            <ul>
                <li>
                    <label for="deadline">Echéance</label><br>
                    {{input type="text" id="deadline" value=newBill.deadline}}
                </li>
                <li>
                    <label for="primaccount">Mode de paiement principal</label><br>
                    {{input type="text" id="primaccount" value=newBill.primaccount}}
                </li>
                <li>
                    <label for="secaccount">Mode de paiement secondaire</label><br>
                    {{input type="text" id="secaccount" value=newBill.secaccount}}
                </li>
                <li>
                    <label for="note">Notes</label><br>
                    {{textarea id="note" value=newBill.note cols="100" rows="6"}}
                </li>
            </ul>
        </fieldset>
        
        {{input type="submit" value="Créer"}}
        
    </form>
</section>