<section class="view-content view-account">
    <form {{action 'savePass' password on="submit"}} class="form-account">
        <fieldset>
            <legend>Changer le mot de passe</legend>
            {{#if isInvalid}}
                <span class="form-error">{{isInvalid}}</span>
            {{/if}}
            <label>Ancien Mot de passe {{input type="password" value=password.oldPass classBinding="isInvalid:input-error"}}</label>
            {{#if isVerifyError}}
                <span class="form-error">{{isVerifyError}}</span>
            {{/if}}
            <label>
                Nouveau Mot de passe 
                {{input type="password" value=password.newPass classBinding="isVerifyError:input-error" placeholder="Minimum 6 carractères"}}
            </label>
            <label>
                Répéter le Mot de passe 
                {{input type="password" value=password.verify classBinding="isVerifyError:input-error"}}
            </label>
        </fieldset>
        {{input type="submit" value="Valider"}}
    </form>
</section>